a{
    text-decoration: none;
    color:darkorchid;
}

h1{
    color: midnightblue;
}

h2{
    color: rgb(255, 44, 44);
}

h3{
    color: rgb(255, 0, 191);
}

nav{
    background-color:rgb(255, 255, 239);
    border: 1px solid darkslateblue;
}

article{
    width: 700px;
    background: rgb(210, 210, 255);

}

